@import './global.css';

.loginContainer{

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.loginCard{

    width: 400px;

    background: white;

    padding: 40px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;

    gap: 20px;

    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.loginCard h1{

    color: #0066ff;

    text-align: center;

    margin-bottom: 20px;
}

.loginCard input{

    height: 50px;

    border: 2px solid #0066ff;

    border-radius: 10px;

    padding: 10px;

    font-size: 16px;
}

.loginCard button{

    height: 50px;

    border: none;

    border-radius: 10px;

    background-color: #0066ff;

    color: white;

    font-size: 18px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.loginCard button:hover{

    background-color: #0052cc;
}