@import './global.css';

.container{
  width: 100%;
  min-height: calc(100vh - 70px);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 40px 20px;
}

.titulo-minhas{
  color: #0066ff;
  margin-bottom: 35px;
}

.listaSolicitacoes{
  width: 100%;
  max-width: 500px;

  display: flex;
  flex-direction: column;

  gap: 20px;
}

.card{
  background: white;

  padding: 20px;

  border-radius: 18px;

  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.card h2{
  color: #0066ff;
  margin-bottom: 10px;

  font-size: 20px;
}

.card p{
  color: #555;

  margin-bottom: 20px;

  line-height: 1.5;
}

span{
  padding: 8px 15px;

  border-radius: 10px;

  color: white;

  font-weight: bold;

  font-size: 14px;
}

.analise{
  background-color: #e6b800;
}

.aprovado{
  background-color: #00b33c;
}

.negado{
  background-color: #cc0000;
}